.hero-section {
    color: white;
    
    text-shadow: 2px 2px 4px #002;
  }
  .btn-service{
    background:rgb(248, 163, 4);
    color:#fff;
  }
  .btn-service:hover{
    color:white;
  }
  .btn-travaux:hover{
    background:rgb(248, 163, 4);
    color:white;
  }
  .title-color{
    color:#002 !important;
  }
  .hero-title{
    color:#fff;
  }
  .btn-color{
    background-color:var(--black);
  }