:root{
--background-body:#f4f4f4;
--back-clair:rgb(243, 242, 242);
--btn-bg:orange;
--btn-link:orange;
--white-color:#fff;
--white:#ffffff;
--red:red;
--i-card:#6c757d;
--d-card:#fff;
--shadow-event:0 2px 4px orange;
--footer-bg:#002;

--box-shadow-clear: 0 2px 4px rgba(0, 0, 0, 0.1);
--card-bg:#fff;
--text-color:black;
--card-shadow: 4px 2px 8px rgba(0, 0,0 ,0.1);
--round-bg:rgb(222, 230, 222);
--hover-color:#ddd;
--h-color:#002;
--black:#002;
--gold:rgb(85, 74, 12);
--gray-btn:rgba(212, 206, 206, 0.729);

}
